# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  schedule:
    - cron:  '*/10 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test with unittest -v
      run: |
        export PYTHONPATH=YahooFinanceDataLoader
        echo ***Running test for download permission requests***
        python -m unittest -v tests/asset_data/test_assetDataRequest/test_request_actual_download_permission.py
        echo ***Running tests for data download requests***
        python -m unittest -v tests/asset_data/test_assetDataRequest/test_request_actual_data_download.py
